<% provide(:page_title, 'Profile') %>

<h1>Profile</h1>

<div class="container">
  <table class="table">
    <tr>
      <td>Name:</td>
      <td><%= current_user.name %></td>
    </tr>

    <tr>
      <td>Email:</td>
      <td><%= current_user.email %></td>
    </tr>

    <tr>
      <td>Phone:</td>
      <td><%= current_user.phone %></td>
    </tr>

    <tr>
      <td>School:</td>
      <td><%= current_user.school %></td>
    </tr>
  </table>
</div>