<% provide(:page_title, "About") %>

  <h1 class="title-panel container">About</h1>

  <div class="content-panel container">
    <p>
      Welcome to the 2019 Show Me Mock Trial Invitational! High schools from the region and beyond are invited
      to register a team or several teams to compete in the Invitational on October 4, 5 and 6 at the Saint Louis
      University School of Law campus in Saint Louis, Missouri.
    </p>

    <p>
      Each team may have between 7 and 16 students. Every team will compete in all four trials, with
      the first on Friday evening, two on Saturday, and the final trial on Sunday. An awards ceremony
      will be held on Sunday at 4:00. Each team will argue both sides of the case twice.
    </p>

    <p>
      Trials include Pre-Trial Motions, Opening Statements, Direct and Cross Examinations (three of
      each), Three Witnesses on each side, and Closing Arguments. Witnesses may be in costume;
      however, exhibit enlargements or other props are not permitted. Full rules can be found on the
      <%= link_to 'rules page', rules_path %>.
    </p>

    <p>Awards:
      <ul>
        <li>First Place Team (Awarded to the team with the highest wins, then ballots and points)</li>
        <li>Second Place Team (Awarded to the team with the second highest wins, then ballots and points)</li>
        <li>Outstanding Attorney Award (Awarded to Top Individual Attorneys regardless of team outcome)</li>
        <li>Outstanding Witness Award (Awarded to Top Individual Witnesses regardless of team outcome)</li>
        <li>Courtroom Artist First and Second Place (Awarded to student courtroom artists)</li>
      </ul>
    </p>

    <p>
      The cost of the tournament is a $25 registration fee per team plus a tournament fee of $15 per student. The price
      includes all programming during the invitational, lunch on Saturday and brunch on Sunday morning.
    </p>

    <p>
      What is so great about this tournament? PRACTICE! All teams have the same number of trials,
      which provides all teams with similar opportunity to learn and improve. Also, individual
      attorneys and witnesses are ranked by the judges and some will receive individual awards based
      on individual performance. Finally, the whole tournament starts and stops over one weekend, where
      students will meet other mock trial students from other schools and groups during meals and the
      awards ceremony.
    </p>
  </div>

</html>
