<% provide(:page_title, "About") %>

  <h1 class="title-panel container">About</h1>

  <div class="content-panel container">
    <p>
      Welcome to the 2019 Show Me Mock Trial Invitational! High schools from the region
      and beyond are invited to register a team or several teams to compete in the Invitational on
      October 4, 5 and 6 at the Saint Louis University School of Law campus in Saint Louis, Missouri.
    </p>

    <p>
      Each team consists of between 7 and 16 students. Every team will compete in all four trials, with
      the first on Friday evening, two on Saturday, and the final trial on Sunday. An awards ceremony
      will be held on Sunday at 4:00. Each team will argue both sides of the case twice.
    </p>

    <p>
      Trials include Pre-Trial Motions, Opening Statements, Direct and Cross Examinations (three of
      each), Three Witnesses on each side, and Closing Arguments. Witnesses may be in costume;
      however, exhibit enlargements or other props are not permitted.
    </p>
  </div>

</html>
