<% provide(:page_title, '2019 Case') %>
<div class="container title-panel">2019 Case</div>

<div class="container content-panel">
    <p style='text-align: center;'>
        The 2019 Show Me Mock Trial Case has been released! 
    </p>
    <p>
        On October 4, the Circuit Court for the City of St. Louis will hear the case of Chris Whistler v.
        Oak Gardens Earth Residence. Whistler, the nursing home’s cook, alleges he/she was discharged
        from her employment in violation of the Whistleblower’s Protection Act, after complaining to
        both her employer and the Department of Health and Senior Services that an non-potty-trained
        puppy was creating sanitation problems in the nursing home. The nursing home denies the
        claims, alleging that Whistler was discharged from her employment for engaging in
        conversations with residents that caused medical problems for the residents instead of doing
        his/her job. Will Whistler be compensated? Find out October 4-6, 2019, at the Show Me Mock
        Trial Invitational.
        <ul>
            <li><%= link_to 'Download the Case!', case_download_path, target: '_blank' %></li>
        </ul>
    </p>
    <hr />

    <p>
        Case Changes:
        <ul>
            <li>
                8-10: Case Released!
            </li>
        </ul>
    </p>
</div>