<% provide(:page_title, "Contact") %>
<h1 class="container title-panel">Contact Us!</h1>
<div class="container content-panel">
  <p>
    Committee Members:
    <ul>
      <li>Jen Ahrens, Cor Jesu Academy</li>
      <li>Joe Cox, Lutheran High School South</li>
      <li>Anne-Marie Lodholtz, St. Louis University High School</li>
      <li>Kim Mathis, Husch Blackwell LLP</li>
      <li>Kemba Metropoulos, Parkway Central High School</li>
      <li>Jennifer Raymond, Pattonville High School</li>
    </ul>
  </p>
  <p>
    Questions? Email <%= mail_to 'showmemocktrial@gmail.com' %>!
  </p>
</div>
