<% provide(:page_title, "Contact") %>
<h1 class="container title-panel">Contact Us!</h1>
<div class="container content-panel">
  <p>
    Committee Members: LONG LIST OF PEOPLE
  </p>
  <p>
    Questions? Email <%= mail_to 'showmemocktrial@gmail.com' %>!
  </p>
</div>
