<% provide(:page_title, "Deadlines") %>
<div class="container title-panel">Deadlines</div>
<div class="container content-panel">
    <ul>
        <li>Please register your team or group by September 10.</li>
    </ul>
</div>