<div class="container title-panel main-title">
  Show Me Mock Trial<br>
  <h1 class="date-panel">October 4-6, 2019</h1>
</div>

<div class="container content-panel">
  <p>
    Welcome to the 2019 Show Me Mock Trial Invitational! High schools from the region and beyond are invited
    to register a team or several teams to compete in the Invitational on October 4, 5 and 6 at the Saint Louis
    University School of Law campus in Saint Louis, Missouri.
  </p>
</div>
