<% provide(:page_title, "Location") %>
<div class="container title-panel">Location</div>
<div class="container content-panel">
    <p>
        The Show Me Mock Trial Invitational will be held at the Saint Louis University School of Law.<br/>
        <a href="https://www.slu.edu/law/index.php">
            Saint Louis University School of Law<br/>
            100 N. Tucker Blvd.<br/>
            St. Louis, MO 63101-1930<br/>
        </a>
    </p>
    <hr/>
    <p>
        For teams who will be traveling to compete in the Show Me Mock Trial Invitational, there are lodging options:
    </p>
    <p>
        Group rates are available at the <%= link_to "Hilton St. Louis at the Arch", 
        "https://www3.hilton.com/en/hotels/missouri/hilton-st-louis-downtown-at-the-arch-STLDDHF/index.html" %> 
        using promo code SMMT19 ($139/night per room, standard King or Queen), and at <%= link_to "The Last Hotel", 
        "https://thelasthotelstl.com/" %> ($179/night per room, double Queen).
    </p>
</div>