<% provide(:page_title, 'Rules') %>
<div class="container title-panel">Rules</div>

<div class="container content-panel">
  <p>
    The Show Me Mock Trial Invitational is governed by the Show Me Mock Trial Rules of Competition and the National
    High School Mock Trial Rules of Evidence, which can be found below:
    <ul>
      <li><%= link_to 'Rules of Competition', rules_ShowMeCompRules_path, target: '_blank'%></li>
      <li><%= link_to 'Rules of Evidence', rules_ShowMeRulesEvidence_path, target: '_blank' %></li>
      <li><%= link_to 'FAQs', rules_highlights_path %></li>
      <li><%= link_to 'Read the Case', case_download_path, target: '_blank' %></li>
    </ul>
  </p>
</div>