<% provide(:page_title, 'Rules') %>

<div class="container title-panel">FAQs</div>

<div class="container content-panel">
  <ul style="list-style-type: bullet;">
    <li>Individually high-ranking attorneys and witnesses will receive awards regardless of team performance.</li>
    <li>Costuming by witnesses is permitted.</li>
    <li>Exhibit enlargements are prohibited.</li>
    <li>Two attorneys on each side will argue two brief pre-trial motions.</li>
    <li>One team member may serve as a courtroom artist in a drawing contest.</li>
    <li>The teams will be randomly matched at the first trial, then power-matched thereafter.</li>
    <li>This Invitational will give all teams in the competition the same trial practice exposure.</li>
    <li>The case will be released in early August, 2019.</li>
    <li>The price is $15 per participant, with teams ranging in size from 7 to 16.
      The price includes two meals and all programming.</li>
  </ul>
  <p>
    See the <%= link_to 'Competition Rules', rules_ShowMeCompRules_path, target: '_blank' %> for official rules
  </p>
</div>