<% provide(:page_title, "Schedule") %>
<div class="title-panel container">Schedule</div>
<div class="content-panel container">
<p class="title">Friday, Oct. 4</p>
<p>
5:00 pm Arrival<br />
5:00-5:30 pm Registration Tables Open, Teams Pick Up Invitational Packet (11th Floor)<br />
5:30 pm Welcome Meeting and Opening Presentation (12th Floor, Louis W. Riethmann Jr. Pavilion)<br />
5:45 pm Judge's meeting (location TBA) and Timekeeper meeting (location TBA)<br />
6:00 pm Trial No. 1 (find team location on whiteboard on 11th floor at registration area)<br />
9:00 pm Teams Depart
</p>
<hr />

<p class='title'>Saturday, Oct. 5</p>
<p>
8:30 am Arrival<br />
9:00 am Trial No. 2 (find team location on whiteboard on 11th floor at registration area)<br />
12:00 - 1:30 pm Lunch (available on 11th floor near registration area)<br />
1:30 pm Trial No. 3 (find team location on whiteboard on 11th floor at registration area)<br />
4:30-5:00 pm Teams Depart<br />
</p>
<hr />

<p class='title'>Sunday, Oct. 6</p>
<p>11:30 am Teams arrive, practice/meeting rooms available, snacks available on 11th Floor<br />
12:30 pm Trial No. 4 (find team location on whiteboard on 11th floor at registration area)<br />
4:00 pm Awards Ceremony (12th Floor, Louis W. Riethmann Jr. Pavilion)<br />
5:00 pm Teams Depart<br />
</p>
<hr />
</div>